
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Campo eléctrico E</h1>
        </div>
    </div>
    <div class="row">
    
            <div class="form-group">
                <label class="col-form-label">Constante electrostàtica</label>
                <div class="input-group">
                    <p class="form-control" readonly aria-describedby="constK">
                        <b>9 x 10<sup>9</sup></b>
                    </p>
                    <span class="input-group-addon" id="basic-addon2">N m<sup>2</sup>C<sup>-2</sup></span>

                </div>
                <small id="constK" class="form-text text-muted">Constante electrostática que depende del medio.</small>
            </div>

            <div class="form-group">
                <label class="col-form-label">Carga fuente</label>
                <div class="input-group">
                    <input type="number" value="" class="form-control" id="Q" aria-describedby="helpR" placeholder="Ingrese carga" />
                    <span class="input-group-addon" id="basic-addon2">
                        <select class="" id="r-unidad">
                            <option selected value="1">C</option>
                            <option value="0.001">mC</option>
                            <option value="0.000001">uC</option>
                            <option value="0.000000001">nC</option>
                            <option value="0.000000000001">pC</option>
                        </select>
                    </span>
                </div>
                <small id="constK" class="form-text text-muted">Carga punto.</small>
            </div>

            <div class="form-group">
                <label class="col-form-label">Distancia desde la carga al punto P</label>
                <div class="input-group">
                    <input type="number" value="" class="form-control" id="r" aria-describedby="helpR" placeholder="Ingrese distancia"/>
                    <span class="input-group-addon" id="basic-addon2">
                        <select class="" id="r-unidad">
                            <option value="10">dam</option>
                            <option selected value="1">m</option>
                            <option value="0.1">dm</option>
                            <option value="0.01">cm</option>
                            <option value="0.001">mm</option>
                            <option value="0.000001">um</option>
                        </select>
                    </span>
                </div>
                <small id="helpR" class="form-text text-muted">En metros.</small>
            </div>

            <div class="form-group">
                <label class="col-form-label">Vector unitario</label>
                <div class="input-group">
                    <input type="number" value="" class="form-control" id="u" aria-describedby="constK" placeholder="Ingrese vector unitario" />
                    <span class="input-group-addon" id="basic-addon2"> · </span>
                </div>
                <small id="constK" class="form-text text-muted">Vector unitario en la dirección radial.</small>
            </div>

            <button class="btn btn-primary" id="submitForm">Submit</button>
        <br /><br />

        <div class="form-group">
            <label class="col-form-label">Campo eléctrico resultante</label>
            <div class="input-group">
                <p class="form-control" aria-describedby="constK">
                    <b id="resultado"></b>
                </p>
                <span class="input-group-addon" id="basic-addon2"> N / C </span>

            </div>
            <small id="constK" class="form-text text-muted">Resultado.</small>
        </div>


    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            console.log("ready");
            

            $('#submitForm').on("click",function () {
                var _idQ = $('#Q').val();
                var _idU = $('#u').val();
                var _idR = $('#r').val();
                var _idK = 9000000000;

                var r_u = $('#r-unidad option:selected').val();

                //alert(x * _idR);

                var a = _idK * (_idQ / ((_idR * r_u) * (_idR * r_u))) * _idU;

               $('#resultado').text(a);

                @*$.post('@Url.Action("Index")', {
                    k: _idK,
                    q: _idQ,
                    r: _idR,
                    u: _idU,
                }) *@
            });
        });
    </script>
</body>
</html>
