
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Campo eléctrico E</h1>
        </div>
    </div>
    <div class="row">
        <form class="col-md-12">
            <div class="form-group">
                <label class="col-form-label">Constante electrostàtica</label>
                <div class="input-group">
                    <p class="form-control" readonly aria-describedby="constK">
                        <b>9 x 10<sup>9</sup></b>
                    </p>
                    <span class="input-group-addon" id="basic-addon2">N m<sup>2</sup>C<sup>-2</sup></span>

                </div>
                <small id="constK" class="form-text text-muted">Constante electrostática que depende del medio.</small>
            </div>

            <div class="form-group">
                <label class="col-form-label">Carga fuente</label>
                <div class="input-group">
                    <input type="number" value="" class="form-control" id="Q" aria-describedby="helpR" placeholder="Ingrese carga" />
                    <span class="input-group-addon" id="basic-addon2"> C </span>

                </div>
                <small id="constK" class="form-text text-muted">Carga punto.</small>
            </div>

            <div class="form-group">
                <label class="col-form-label">Distancia desde la carga al punto P</label>
                <div class="input-group">
                    <input type="number" value="" class="form-control" id="r" aria-describedby="helpR" placeholder="Ingrese distancia"/>
                    <span class="input-group-addon" id="basic-addon2"> m </span>

                </div>
                <small id="helpR" class="form-text text-muted">En metros.</small>
            </div>

            <div class="form-group">
                <label class="col-form-label">Vector unitario</label>
                <div class="input-group">
                    <input type="number" value="" class="form-control" id="u" aria-describedby="constK" placeholder="Ingrese vector unitario" />
                    <span class="input-group-addon" id="basic-addon2"> · </span>
                </div>
                <small id="constK" class="form-text text-muted">Vector unitario en la dirección radial.</small>
            </div>

            

            @*<div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleSelect1">Example select</label>
                <select class="form-control" id="exampleSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleSelect2">Example multiple select</label>
                <select multiple class="form-control" id="exampleSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleTextarea">Example textarea</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
            </div>
            <fieldset class="form-group">
                <legend>Radio buttons</legend>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Option one is this and that&mdash;be sure to include why it's great
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                        Option two can be something else and selecting it will deselect option one
                    </label>
                </div>
                <div class="form-check disabled">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                        Option three is disabled
                    </label>
                </div>
            </fieldset>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Check me out
                </label>
            </div>*@
            <button type="submit" class="btn btn-primary" id="submitForm">Submit</button>
        </form>

        <br /><br />
        @if (@ViewBag.resultado != null)
        {
            <div class="form-group">
                <label class="col-form-label">Campo eléctrico resultante</label>
                <div class="input-group">
                    <p class="form-control" aria-describedby="constK">
                        <b>@Double.Parse(@ViewBag.resultado)</b>
                        <b id="resultado"></b>
                    </p>
                    <span class="input-group-addon" id="basic-addon2"> N / C </span>

                </div>
                <small id="constK" class="form-text text-muted">Resultado.</small>
            </div>
        }
        <div class="form-group">
            <label class="col-form-label">Campo eléctrico resultante</label>
            <div class="input-group">
                <p class="form-control" aria-describedby="constK">
                    <b id="resultado"></b>
                </p>
                <span class="input-group-addon" id="basic-addon2"> N / C </span>

            </div>
            <small id="constK" class="form-text text-muted">Resultado.</small>
        </div>


    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script>
        var _idQ = $('#Q').val();
        var _idU = $('#u').val();
        var _idR = $('#r').val();
        var _idK = 9000000000;
        var a = _idK * (_idQ / (_idR * _idR)) * _idU;
        $('#resultado').val() = a;

        $('#submitForm').click(function () {
            var _idQ = $('#Q').val();
            var _idU = $('#u').val();
            var _idR = $('#r').val();
            var _idK = 9000000000;
            //alert(_idArticulo);
            var a = _idK * (_idQ / (_idR * _idR)) * _idU;
            $('#resultado').val() = a;
            @*$.post('@Url.Action("Index")', {
                k: _idK,
                q: _idQ,
                r: _idR,
                u: _idU,
            })*@
                
        });
    </script>
</body>
</html>
